.ta-pagination {
	--ta-pagination-item-height: unset;
	--ta-pagination-navigation-height: unset;
	--ta-pagination-anim-right-in: ta-pagination-swing-right-in;
	--ta-pagination-anim-right-out: ta-pagination-swing-right-out;
	--ta-pagination-anim-left-in: ta-pagination-swing-left-in;
	--ta-pagination-anim-left-out: ta-pagination-swing-left-out;
	--ta-pagination-anim-shrink: ta-pagination-anim-shrink;
	--ta-pagination-anim-expand: ta-pagination-anim-expand;
	--ta-pagination-anim-duration: 200ms;
	position: relative;
	perspective: 1000px;
	perspective-origin: center center;
}

.ta-pagination-item {
	position: relative;
	height: var(--ta-pagination-item-height);
	animation-timing-function: ease-in-out;
	animation-delay: 0s;
	animation-fill-mode: both;
	animation-duration: var(--ta-pagination-anim-duration);
	backface-visibility: hidden;
}

.ta-pagination-lazy {
	object-fit: contain;
}

.ta-pagination-navigation {
	height: var(--ta-pagination-navigation-height);
}

.ta-pagination-item-hidden {
	display: none !important;
}

.ta-pagination-item-border::before {
	content: "";
	position: absolute;
	left: -3rem;
	top: -1rem;
	bottom: -1rem;
	border-left: 2px dashed rgb(94, 101, 104);
}

.ta-pagination-anim-swing {
	--ta-pagination-anim-right-in: ta-pagination-swing-right-in;
	--ta-pagination-anim-right-out: ta-pagination-swing-right-out;
	--ta-pagination-anim-left-in: ta-pagination-swing-left-in;
	--ta-pagination-anim-left-out: ta-pagination-swing-left-out;
}

.ta-pagination-anim-spin {
	--ta-pagination-anim-right-in: ta-pagination-spin-right-in;
	--ta-pagination-anim-right-out: ta-pagination-spin-right-out;
	--ta-pagination-anim-left-in: ta-pagination-spin-left-in;
	--ta-pagination-anim-left-out: ta-pagination-spin-left-out;
}

.ta-pagination-anim-swipe {
	--ta-pagination-anim-right-in: ta-pagination-swipe-right-in;
	--ta-pagination-anim-right-out: ta-pagination-swipe-right-out;
	--ta-pagination-anim-left-in: ta-pagination-swipe-left-in;
	--ta-pagination-anim-left-out: ta-pagination-swipe-left-out;
}

.ta-pagination-anim-fade {
	--ta-pagination-anim-right-in: ta-pagination-fade-right-in;
	--ta-pagination-anim-right-out: ta-pagination-fade-right-out;
	--ta-pagination-anim-left-in: ta-pagination-fade-left-in;
	--ta-pagination-anim-left-out: ta-pagination-fade-left-out;
}

.ta-pagination-anim-slide {
	--ta-pagination-anim-right-in: ta-pagination-slide-right-in;
	--ta-pagination-anim-right-out: ta-pagination-slide-right-out;
	--ta-pagination-anim-left-in: ta-pagination-slide-left-in;
	--ta-pagination-anim-left-out: ta-pagination-slide-left-out;
}

.ta-pagination-anim-rotate {
	--ta-pagination-anim-right-in: ta-pagination-rotate-right-in;
	--ta-pagination-anim-right-out: ta-pagination-rotate-right-out;
	--ta-pagination-anim-left-in: ta-pagination-rotate-left-in;
	--ta-pagination-anim-left-out: ta-pagination-rotate-left-out;
}

.ta-pagination-anim-snake {
	--ta-pagination-anim-right-in: ta-pagination-snake-right-in;
	--ta-pagination-anim-right-out: ta-pagination-snake-right-out;
	--ta-pagination-anim-left-in: ta-pagination-snake-left-in;
	--ta-pagination-anim-left-out: ta-pagination-snake-left-out;
	--ta-pagination-origin-right-in: right center;
	--ta-pagination-origin-right-out: left center;
	--ta-pagination-origin-left-in: left center;
	--ta-pagination-origin-left-out: right center;
}

.ta-pagination-anim-window {
	--ta-pagination-anim-right-in: ta-pagination-window-right-in;
	--ta-pagination-anim-right-out: ta-pagination-window-right-out;
	--ta-pagination-anim-left-in: ta-pagination-window-left-in;
	--ta-pagination-anim-left-out: ta-pagination-window-left-out;
	--ta-pagination-origin-right-in: right center;
	--ta-pagination-origin-right-out: left center;
	--ta-pagination-origin-left-in: left center;
	--ta-pagination-origin-left-out: right center;
}

.ta-pagination-anim-scroll {
	--ta-pagination-anim-right-in: ta-pagination-scroll-right-in;
	--ta-pagination-anim-right-out: ta-pagination-scroll-right-out;
	--ta-pagination-anim-left-in: ta-pagination-scroll-left-in;
	--ta-pagination-anim-left-out: ta-pagination-scroll-left-out;
	--ta-pagination-origin-right-in: right center;
	--ta-pagination-origin-right-out: left center;
	--ta-pagination-origin-left-in: left center;
	--ta-pagination-origin-left-out: right center;
}

.ta-pagination-anim-fold {
	--ta-pagination-anim-right-in: ta-pagination-fold-right-in;
	--ta-pagination-anim-right-out: ta-pagination-fold-right-out;
	--ta-pagination-anim-left-in: ta-pagination-fold-left-in;
	--ta-pagination-anim-left-out: ta-pagination-fold-left-out;
	--ta-pagination-origin-right-in: top center;
	--ta-pagination-origin-right-out: top center;
	--ta-pagination-origin-left-in: top center;
	--ta-pagination-origin-left-out: top center;
}

.ta-pagination-anim-right-in {
	transform-origin: var(--ta-pagination-origin-right-in);
	animation-name: var(--ta-pagination-anim-right-in);
	opacity: 0.2;
}

.ta-pagination-anim-right-out {
	transform-origin: var(--ta-pagination-origin-right-out);
	animation-name: var(--ta-pagination-anim-right-out);
	opacity: 1;
}

.ta-pagination-anim-left-in {
	transform-origin: var(--ta-pagination-origin-left-in);
	animation-name: var(--ta-pagination-anim-left-in);
	opacity: 0.2;
}

.ta-pagination-anim-left-out {
	transform-origin: var(--ta-pagination-origin-left-out);
	animation-name: var(--ta-pagination-anim-left-out);
	opacity: 1;
}

.ta-pagination-anim-expand {
	animation-name: var(--ta-pagination-anim-expand);
	opacity: 1;
}

.ta-pagination-anim-shrink {
	animation-name: var(--ta-pagination-anim-shrink);
	opacity: 0.2;
}

@keyframes ta-pagination-swing-right-in {
	from: 	{
		opacity: 0;
		transform: scale(0.8) rotate3d(0, 1, 0, 90deg) translateZ(0) translateX(-2rem);
	}
;
	to: 	{
		opacity: 1;
		transform: scale(1) rotate3d(0, 1, 0, 0deg) translateZ(0) translateX(0rem);
	}
;
}

@keyframes ta-pagination-swing-right-out {
	from: 	{
		opacity: 1;
		transform: scale(1) rotate3d(0, 1, 0, 0deg) translateZ(0) translateX(0rem);
	}
;
	to: 	{
		opacity: 0;
		transform: scale(0.8) rotate3d(0, 1, 0, -90deg) translateZ(0) translateX(-2rem);
	}
;
}

@keyframes ta-pagination-swing-left-in {
	from: 	{
		opacity: 0;
		transform: scale(0.8) rotate3d(0, 1, 0, 90deg) translateZ(0) translateX(-2rem);
	}
;
	to: 	{
		opacity: 1;
		transform: scale(1) rotate3d(0, 1, 0, 0deg) translateZ(0) translateX(0rem);
	}
;
}

@keyframes ta-pagination-swing-left-out {
	from: 	{
		opacity: 1;
		transform: scale(1) rotate3d(0, 1, 0, 0deg) translateZ(0) translateX(0rem);
	}
;
	to: 	{
		opacity: 0;
		transform: scale(0.8) rotate3d(0, 1, 0, -90deg) translateZ(0) translateX(-2rem);
	}
;
}

@keyframes ta-pagination-spin-right-in {
	from: 	{
		opacity: 0;
		transform: scale(0.8) rotate3d(1, 0, 0, 90deg) translateZ(0) translateX(-2rem);
	}
;
	to: 	{
		opacity: 1;
		transform: scale(1) rotate3d(1, 0, 0, 0deg) translateZ(0) translateX(0rem);
	}
;
}

@keyframes ta-pagination-spin-right-out {
	from: 	{
		opacity: 1;
		transform: scale(1) rotate3d(1, 0, 0, 0deg) translateZ(0) translateX(0rem);
	}
;
	to: 	{
		opacity: 0;
		transform: scale(0.8) rotate3d(1, 0, 0, -90deg) translateZ(0) translateX(-2rem);
	}
;
}

@keyframes ta-pagination-spin-left-in {
	from: 	{
		opacity: 0;
		transform: scale(0.8) rotate3d(1, 0, 0, 90deg) translateZ(0) translateX(-2rem);
	}
;
	to: 	{
		opacity: 1;
		transform: scale(1) rotate3d(1, 0, 0, 0deg) translateZ(0) translateX(0rem);
	}
;
}

@keyframes ta-pagination-spin-left-out {
	from: 	{
		opacity: 1;
		transform: scale(1) rotate3d(1, 0, 0, 0deg) translateZ(0) translateX(0rem);
	}
;
	to: 	{
		opacity: 0;
		transform: scale(0.8) rotate3d(1, 0, 0, -90deg) translateZ(0) translateX(-2rem);
	}
;
}

@keyframes ta-pagination-slide-right-in {
	from: 	{
		opacity: 0;
		transform: scale(0.9) translateX(5rem) translateZ(0);
	}
;
	to: 	{
		opacity: 1;
		transform: scale(1) translateX(0) translateZ(0);
	}
;
}

@keyframes ta-pagination-slide-right-out {
	from: 	{
		opacity: 1;
		transform: scale(1) translateX(0) translateZ(0);
	}
;
	to: 	{
		opacity: 0;
		transform: scale(0.9) translateX(-5rem) translateZ(0);
	}
;
}

@keyframes ta-pagination-slide-left-in {
	from: 	{
		opacity: 0;
		transform: scale(0.9) translateX(-5rem) translateZ(0);
	}
;
	to: 	{
		opacity: 1;
		transform: scale(1) translateX(0) translateZ(0);
	}
;
}

@keyframes ta-pagination-slide-left-out {
	from: 	{
		opacity: 1;
		transform: scale(1) translateX(0) translateZ(0);
	}
;
	to: 	{
		opacity: 0;
		transform: scale(0.9) translateX(5rem) translateZ(0);
	}
;
}

@keyframes ta-pagination-fade-right-in {
	from: 	{
		opacity: 0;
		transform: scale(0.98) translateZ(0);
	}
;
	to: 	{
		opacity: 1;
		transform: scale(1) translateZ(0);
	}
;
}

@keyframes ta-pagination-fade-right-out {
	from: 	{
		opacity: 1;
		transform: scale(1) translateZ(0);
	}
;
	to: 	{
		opacity: 0;
		transform: scale(1.02) translateZ(0);
	}
;
}

@keyframes ta-pagination-fade-left-in {
	from: 	{
		opacity: 0;
		transform: scale(0.98) translateZ(0);
	}
;
	to: 	{
		opacity: 1;
		transform: scale(1) translateZ(0);
	}
;
}

@keyframes ta-pagination-fade-left-out {
	from: 	{
		opacity: 1;
		transform: scale(1) translateZ(0);
	}
;
	to: 	{
		opacity: 0;
		transform: scale(1.02) translateZ(0);
	}
;
}

@keyframes ta-pagination-swipe-right-in {
	from: 	{
		opacity: 0;
		transform: scale(1.2) translateX(10rem) translateZ(0);
	}
;
	to: 	{
		opacity: 1;
		transform: scale(1) translateX(0) translateZ(0);
	}
;
}

@keyframes ta-pagination-swipe-right-out {
	from: 	{
		opacity: 1;
		transform: scale(1) translateX(0) translateZ(0);
	}
;
	to: 	{
		opacity: 0;
		transform: scale(0.9) translateX(-10rem) translateZ(0);
	}
;
}

@keyframes ta-pagination-swipe-left-in {
	from: 	{
		opacity: 0;
		transform: scale(1.2) translateX(-10rem) translateZ(0);
	}
;
	to: 	{
		opacity: 1;
		transform: scale(1) translateX(0) translateZ(0);
	}
;
}

@keyframes ta-pagination-swipe-left-out {
	from: 	{
		opacity: 1;
		transform: scale(1) translateX(0) translateZ(0);
	}
;
	to: 	{
		opacity: 0;
		transform: scale(0.9) translateX(10rem) translateZ(0);
	}
;
}

@keyframes ta-pagination-rotate-right-in {
	from: 	{
		opacity: 0;
		transform: scale(0.8) rotate3d(1, 1, 0, -25deg) translateZ(0);
	}
;
	to: 	{
		opacity: 1;
		transform: scale(1) rotate3d(1, 1, 0, 0deg) translateZ(0);
	}
;
}

@keyframes ta-pagination-rotate-right-out {
	from: 	{
		opacity: 1;
		transform: scale(1) rotate3d(1, 1, 0, 0deg) translateZ(0);
	}
;
	to: 	{
		opacity: 0;
		transform: scale(1.2) rotate3d(1, 1, 0, 25deg) translateZ(0);
	}
;
}

@keyframes ta-pagination-rotate-left-in {
	from: 	{
		opacity: 0;
		transform: scale(0.8) rotate3d(1, 1, 0, 25deg) translateZ(0);
	}
;
	to: 	{
		opacity: 1;
		transform: scale(1) rotate3d(1, 1, 0, 0deg) translateZ(0);
	}
;
}

@keyframes ta-pagination-rotate-left-out {
	from: 	{
		opacity: 1;
		transform: scale(1) rotate3d(1, 1, 0, 0deg) translateZ(0);
	}
;
	to: 	{
		opacity: 0;
		transform: scale(1.2) rotate3d(1, 1, 0, -25deg) translateZ(0);
	}
;
}

@keyframes ta-pagination-snake-right-in {
	from: 	{
		opacity: 0;
		transform: scaleX(0.6) translateZ(0);
	}
;
	to: 	{
		opacity: 1;
		transform: scaleX(1) translateZ(0);
	}
;
}

@keyframes ta-pagination-snake-right-out {
	from: 	{
		opacity: 1;
		transform: scaleX(1) translateZ(0);
	}
;
	to: 	{
		opacity: 0;
		transform: scaleX(0.6) translateZ(0);
	}
;
}

@keyframes ta-pagination-snake-left-in {
	from: 	{
		opacity: 0;
		transform: scaleX(0.6) translateZ(0);
	}
;
	to: 	{
		opacity: 1;
		transform: scaleX(1) translateZ(0);
	}
;
}

@keyframes ta-pagination-snake-left-out {
	from: 	{
		opacity: 1;
		transform: scaleX(1) translateZ(0);
	}
;
	to: 	{
		opacity: 0;
		transform: scaleX(0.6) translateZ(0);
	}
;
}

@keyframes ta-pagination-scroll-right-in {
	from: 	{
		opacity: 0;
		transform: translateX(20vw) translateZ(0);
	}
;
	to: 	{
		opacity: 1;
		transform: translateX(0) translateZ(0);
	}
;
}

@keyframes ta-pagination-scroll-right-out {
	from: 	{
		opacity: 1;
		transform: translateX(0) translateZ(0);
	}
;
	to: 	{
		opacity: 0;
		transform: translateX(-20vw) translateZ(0);
	}
;
}

@keyframes ta-pagination-scroll-left-in {
	from: 	{
		opacity: 0;
		transform: translateX(-20vw) translateZ(0);
	}
;
	to: 	{
		opacity: 1;
		transform: translateX(0) translateZ(0);
	}
;
}

@keyframes ta-pagination-scroll-left-out {
	from: 	{
		opacity: 1;
		transform: translateX(0) translateZ(0);
	}
;
	to: 	{
		opacity: 0;
		transform: translateX(20vw) translateZ(0);
	}
;
}

@keyframes ta-pagination-window-right-in {
	from: 	{
		opacity: 0;
		transform: scale(0.9) rotate3d(0, 1, 0, -90deg) translateZ(0);
	}
;
	to: 	{
		opacity: 1;
		transform: scale(1) rotate3d(0, 1, 0, 0deg) translateZ(0);
	}
;
}

@keyframes ta-pagination-window-right-out {
	from: 	{
		opacity: 1;
		transform: scale(1) rotate3d(0, 1, 0, 0deg) translateZ(0);
	}
;
	to: 	{
		opacity: 0;
		transform: scale(0.9) rotate3d(0, 1, 0, 90deg) translateZ(0);
	}
;
}

@keyframes ta-pagination-window-left-in {
	from: 	{
		opacity: 0;
		transform: scale(0.9) rotate3d(0, 1, 0, 90deg) translateZ(0);
	}
;
	to: 	{
		opacity: 1;
		transform: scale(1) rotate3d(0, 1, 0, 0deg) translateZ(0);
	}
;
}

@keyframes ta-pagination-window-left-out {
	from: 	{
		opacity: 1;
		transform: scale(1) rotate3d(0, 1, 0, 0deg) translateZ(0);
	}
;
	to: 	{
		opacity: 0;
		transform: scale(0.9) rotate3d(0, 1, 0, -90deg) translateZ(0);
	}
;
}

@keyframes ta-pagination-fold-right-in {
	from: 	{
		opacity: 0;
		transform: scale(0.95) rotate3d(1, 0, 0, -90deg) translateZ(0);
	}
;
	to: 	{
		opacity: 1;
		transform: scale(1) rotate3d(1, 0, 0, 0deg) translateZ(0);
	}
;
}

@keyframes ta-pagination-fold-right-out {
	from: 	{
		opacity: 1;
		transform: scale(1) rotate3d(1, 0, 0, 0deg) translateZ(0);
	}
;
	to: 	{
		opacity: 0;
		transform: scale(0.95) rotate3d(1, 0, 0, -90deg) translateZ(0);
	}
;
}

@keyframes ta-pagination-fold-left-in {
	from: 	{
		opacity: 0;
		transform: scale(0.95) rotate3d(1, 0, 0, -90deg) translateZ(0);
	}
;
	to: 	{
		opacity: 1;
		transform: scale(1) rotate3d(1, 0, 0, 0deg) translateZ(0);
	}
;
}

@keyframes ta-pagination-fold-left-out {
	from: 	{
		opacity: 1;
		transform: scale(1) rotate3d(1, 0, 0, 0deg) translateZ(0);
	}
;
	to: 	{
		opacity: 0;
		transform: scale(0.95) rotate3d(1, 0, 0, -90deg) translateZ(0);
	}
;
}

@keyframes ta-pagination-anim-expand {
	from: 	{
		opacity: 0;
		transform: scale(0.8) rotate3d(1, 0, 0, -180deg) translateZ(0) translateY(-2rem);
	}
;
	to: 	{
		opacity: 1;
		transform: scale(1) rotate3d(1, 0, 0, 0deg) translateZ(0) translateY(0rem);
	}
;
}

@keyframes ta-pagination-anim-shrink {
	from: 	{
		opacity: 1;
		transform: scale(1) rotate3d(1, 0, 0, 0deg) translateZ(0) translateY(0rem);
	}
;
	to: 	{
		opacity: 0;
		transform: scale(0.8) rotate3d(1, 0, 0, -180deg) translateZ(0) translateY(-2rem);
	}
;
}

