/* purgecss start ignore */
.ta-youtube-anim-flight {
    animation-name: youtube-keyframes-flight;
    transform-origin: top center;
}
@keyframes youtube-keyframes-flight {
    0% {
        transform: scale(1.1) rotate3d(1, 0, 0, 0deg);
    }
    50% {
        transform: scale(1.2) rotate3d(1, 0, 0, 25deg);
    }
    100% {
        transform: scale(1.1) rotate3d(1, 0, 0, 0deg);
    }
}
/* purgecss end ignore */
