/* purgecss start ignore */
.youtube__anim--move-right {
    animation-name: youtube-keyframes-move-right;
    transform-origin: right center;
}
@keyframes youtube-keyframes-move-right {
    0% {
        transform: scale(1.3) translateX(0);
    }
    50% {
        transform: scale(1.2) translateX(5rem);
    }
    100% {
        transform: scale(1.3) translateX(0rem);
    }
}
/* purgecss end ignore */
