/* purgecss start ignore */
.youtube__anim--rotate {
    animation-name: youtube-keyframes-rotate;
    transform-origin: center center;
}
@keyframes youtube-keyframes-rotate {
    0% {
        transform: scale(1.2) rotate3d(0, 1, 0, 0deg);
    }
    25% {
        transform: scale(1.3) rotate3d(0, 1, 0, -10deg);
    }
    50% {
        transform: scale(1.2) rotate3d(0, 1, 0, 0deg);
    }
    75% {
        transform: scale(1.3) rotate3d(0, 1, 0, 10deg);
    }
    100% {
        transform: scale(1.2) rotate3d(0, 1, 0, 0deg);
    }
}
/* purgecss end ignore */
