.ta-youtube-anim-rotate {
	animation-name: youtube-keyframes-rotate;
	transform-origin: center center;
}

@keyframes youtube-keyframes-rotate {
	0% 	{
		transform: scale(1.2) rotate3d(0, 1, 0, 0deg);
	}
	25% 	{
		transform: scale(1.3) rotate3d(0, 1, 0, -10deg);
	}
	50% 	{
		transform: scale(1.2) rotate3d(0, 1, 0, 0deg);
	}
	75% 	{
		transform: scale(1.3) rotate3d(0, 1, 0, 10deg);
	}
	100% 	{
		transform: scale(1.2) rotate3d(0, 1, 0, 0deg);
	}
}

.ta-youtube-anim-toleft {
	animation-name: youtube-keyframes-toleft;
	transform-origin: left center;
}

@keyframes youtube-keyframes-toright {
	0% 	{
		transform: scale(1.3) translateX(0);
	}
	50% 	{
		transform: scale(1.2) translateX(5rem);
	}
	100% 	{
		transform: scale(1.3) translateX(0rem);
	}
}

@keyframes youtube-keyframes-toleft {
	0% 	{
		transform: scale(1.3) translateX(0);
	}
	50% 	{
		transform: scale(1.2) translateX(-5rem);
	}
	100% 	{
		transform: scale(1.3) translateX(0rem);
	}
}

.ta-youtube-anim-kenburns {
	animation-name: youtube-keyframes-kenburns;
}

@keyframes youtube-keyframes-kenburns {
	0% 	{
		transform: scale(1);
	}
	50% 	{
		transform: scale(1.1);
	}
	100% 	{
		transform: scale(1);
	}
}

.ta-youtube-anim-flight {
	animation-name: youtube-keyframes-flight;
	transform-origin: top center;
}

@keyframes youtube-keyframes-flight {
	0% 	{
		transform: scale(1.1) rotate3d(1, 0, 0, 0deg);
	}
	50% 	{
		transform: scale(1.2) rotate3d(1, 0, 0, 25deg);
	}
	100% 	{
		transform: scale(1.1) rotate3d(1, 0, 0, 0deg);
	}
}

